{% extends 'base.html' %}

{% block title %}Contacto{% endblock %}

{% block content %}
<style>
    .card {
        border: 2px solid #1e40af; /* Borde exterior azul */
    }
    .card-body {
        background-color: #d0ff00; /* Fondo verde del body */
        border: 2px solid #1e40af; /* Borde interior azul */
    }
    .form-control {
        border-color: #1e40af; /* Borde de campos en azul */
    }
</style>
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card p-4 shadow-sm">
                <div class="card-body">
                    <h1 class="text-center mb-4 text-dark">Mi contacto</h1>
                    <p class="text-center mb-5">
                        ¡Estoy listo! ¡Si tenés alguna pregunta no dudes en escribirme!
                    </p>
                    <form action="{{ url_for('web.enviar_mensaje') }}" method="POST">
                        <div class="mb-4">
                            <label for="nombre" class="form-label text-dark">Nombre completo</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" required>
                        </div>
                        <div class="mb-4">
                            <label for="email" class="form-label text-dark">Correo electrónico</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="mb-4">
                            <label for="mensaje" class="form-label text-dark">Mensaje</label>
                            <textarea class="form-control" id="mensaje" name="mensaje" rows="5" required></textarea>
                        </div>
                        <div class="d-grid gap-2 mt-4">
                            <button type="submit" class="btn btn-lg text-white" style="background-color: #25D366;">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}