{% extends "base.html" %}

{% block title %}Servicios{% endblock %}

{% block content %}
<h2 class="mb-4">Mis Servicios</h2>
<div class="row">
    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Diseño de páginas Web</h5>
                <p class="card-text">Tu sitio web a tu medida. Si quieres una presencia online que realmente te represente y genere resultados, hablemos. Juntos, haremos que tu visión se convierta en una realidad digital.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Automatización de procesos informáticos</h5>
                <p class="card-text">Automatiza y Optimiza tu Negocio. En lugar de realizar tareas repetitivas de forma manual, podemos diseñar un sistema que las haga por ti. Esto te permite enfocarte en lo que realmente importa.</p>
            </div>
        </div>
    </div>
</div>
<!-- Nuevo servicio -->
    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Asesoramiento Virtual</h5>
                <p class="card-text">
                    Asesoramiento virtual personalizado, puedo resolver tus dudas, planificar proyectos o diseñar soluciones, todo esto personalizado. 
                </p>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4 reveal" style="--delay: .05s">
  <div class="card shadow-sm">
    <div class="card-body">
      <h5 class="card-title">Diseño de páginas Web</h5>
      <p class="card-text">...</p>
    </div>
  </div>
</div>

{% endblock %}
